body {
    padding-top: 50px;
}

.principal {
    padding: 40px 15px;
    text-align: center;
}

.navbar{

	background: #668cff;

}

.navbar > ul > li>a{
	color: white;
	background: #668cff;
}